#new_password {
	margin-top: 40px;
}

.password_input {
	margin-bottom: 20px;
	width: 100%;
	height: 40px;
	padding-left: 10px;
}

.error {
	color: red;
}
.red-border {
	border: 1px solid red;
}

#submit_newpassword {
	width: 100%;
	height: 40px;
	background-color: #369e59;
	color: #fff;
	border-radius: 10px;
	margin-bottom: 30px;
	cursor: pointer;
}

#reset_success {
	font-size: 20px;
	margin-top: 30px;
	color: #369e59;
	padding: 10px;
	border: 1px solid #369e59;
	border-radius: 10px;
	width: fit-content;
}

#server_error {
	font-size: 20px;
	margin-top: 30px;
	color: red;
	padding: 10px;
	border: 1px solid red;
	border-radius: 10px;
	width: fit-content;
}

#loading_container {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 60px;
}

.icon {
	margin-right: 10px;
	font-size: 30px;
}
