.wrapper {
	margin-top: 30px;
	display: grid;
	grid-template-columns: 70% 30%;
	grid-column-gap: 1em;
}

.wrapper .main #title {
	text-align: left;
	border-bottom: 1px solid grey;
	padding-bottom: 20px;
	font-size: 30px;
}

.side .side_button {
	text-decoration: none;
	color: #fff;
	padding: 10px;
	background-color: #369e59;
	border-radius: 10px;
	margin-right: 10px;
}

.side #side_menu {
	display: flex;
	flex-direction: column;
}

.side #side_menu #link1,
#link2,
#link3,
#link4 {
	text-decoration: none;
	padding: 10px 20px;
	color: #000;
	text-align: left;
	border-radius: 10px;
}

.side #side_menu #link1:hover,
#link2:hover,
#link3:hover,
#link4:hover {
	background-color: #369e59;
	color: #fff;
}

.side #side_menu #profile-pic img {
	margin-left: 10px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.side #side_menu #username {
	margin-left: 10px;
}

#no_article {
	padding: 20px;
	border: 1px solid #369e59;
	color: #369e59;
	width: fit-content;
	margin: 50px auto;
	border-radius: 10px;
}

@media (max-width: 991px) {
	.wrapper {
		display: flex;
		flex-direction: column;
	}
	.wrapper .side {
		order: -1;
		margin-bottom: 20px;
	}
}

@media (max-width: 767px) {
}
