.article {
	margin-bottom: 30px;
	display: flex;
	flex-direction: row;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
}

.article:hover {
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 30px -2px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 30px -2px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 30px -2px rgba(0, 0, 0, 0.75);
}

.article #cover_pic {
	max-width: 30%;
	height: 170px;
}

.article #information {
	margin-left: 20px;
	margin-top: 20px;
}

.article #information .first-row {
	display: flex;
	flex-direction: row;
}

.article #information .second-row {
	text-align: left;
}

.article #information .first-row #profile_pic {
	margin-right: 5px;
}

.article #information .first-row #author {
	margin-right: 5px;
}

.article #information .first-row #profile_pic {
	width: 25px;
	height: 25px;
	border-radius: 50%;
}

.article #information .third-row {
	display: flex;
	flex-direction: row;
	margin-top: 30px;
}

.article #information .third-row #read {
	margin-right: 30px;
}

.article #information .third-row #category {
	margin-right: 20px;
}

@media (max-width: 767px) {
	.article #cover_pic {
		width: 30%;
		height: 170px;
	}

	.article #information .third-row {
		margin-top: 10px;
	}

	.article #information .third-row #read {
		margin-right: 10px;
	}

	.article #information .third-row #category {
		margin-right: 10px;
	}
}

@media (max-width: 478px) {
	.article #cover_pic {
		width: 30%;
		height: 130px;
	}
	.article {
		height: 130px;
	}

	#basic_info .second-row #article_title {
		font-size: 1em;
	}

	#information {
		display: flex;
		flex-direction: row;
	}

	.article #information .third-row {
		display: none;
	}
}

@media (max-width: 379px) {
	.article {
		height: 130px;
	}
	.article #cover_pic {
		width: 40%;
		height: auto;
	}

	.article #information {
		line-height: 0.4em;
	}

	.article #information .third-row {
		display: none;
	}
}
