.setting {
	text-align: left;
}
.setting #title {
	font-size: 20px;
	font-weight: 600;
}

.setting #note {
	color: red;
}
#remark {
	text-align: center;
	margin-top: 20px;
	font-size: 20px;
}

#first_row {
	display: flex;
	flex-direction: row;
	flex-flow: row nowrap;
	justify-content: center;
}
#first_row button {
	width: 31%;
	margin-right: 4%;
	background-color: #369e59;
	color: #fff;
	height: 40px;
	border-radius: 10px;
	cursor: pointer;
	border: 1px solid grey;
}
#first_row button:focus {
	outline: none;
	background-color: #fff;
	color: #369e59;
}

#first_row button:last-child {
	margin-right: 0;
}
