.navbar-brand #logo {
	width: 32px;
	height: 32px;
}

.nav-item {
	margin-right: 10px;
}

.nav-item a {
	text-decoration: none;
	color: #000;
	padding: 20px 10px;
}

.nav-item-1 a {
	color: #369e59;
}

.nav-item a:hover {
	background: #d6d6d6;
	color: #369e59;
}

ul li:last-child {
	margin-right: 0;
}

#side_menu {
	display: none;
}

@media (max-width: 991px) {
	.navbar-nav {
		display: none;
	}

	ul li:last-child {
		display: block;
	}

	.menu {
		display: block;
		width: 33px;
		height: 4px;
		margin-bottom: 5px;
		position: relative;

		background: #a1a1a1;
		border-radius: 3px;

		z-index: 1;
	}

	#menu_button:hover {
		cursor: pointer;
	}

	#side_menu {
		flex-direction: column;
		justify-content: flex-start;
		align-content: flex-start;
		-webkit-box-shadow: 0px 10px 31px 0px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 0px 10px 31px 0px rgba(0, 0, 0, 0.75);
		box-shadow: 0px 10px 31px 0px rgba(0, 0, 0, 0.75);
	}

	#side_menu a {
		text-decoration: none;
		color: black;
		text-align: start;
		padding: 10px;
		border-bottom: 1px solid grey;
	}

	#side_menu a:first-of-type {
		border-top: 1px solid grey;
	}

	#side_menu a:hover {
		color: #369e59;
		background: #d6d6d6;
	}
}
