.wrapper .newpost #newpost_title {
	border: none;
	border-bottom: 1px solid grey;
	padding: 10px;
	max-width: 100%;
}

#newpost_title:focus {
	outline: none;
}

.newpost #editor {
	height: 200px;
}

#post_button {
	padding: 10px;
	background-color: #369e59;
	color: #fff;
	border-radius: 10px;
	margin-top: 10px;
	cursor: pointer;
	width: 100%;
}

.newpost #cate_thumnail {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-content: center;
}

.newpost #thumnail {
	margin-top: 25px;
}

.newpost #category {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 50%;
	margin-right: 20px;
}

#no_article {
	margin-top: 20px;
	color: #369e59;
	border: 1px solid #369e59;
	padding: 10px;
	border-radius: 10px;
}

@media (max-width: 991px) {
	.newpost #thumnail {
		margin: 0;
	}
}
