#button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 50px;
}

#button #login1 {
	text-decoration: none;
	margin-right: 20px;
	border: none;
	color: #369e59;
	font-size: 30px;
	border-bottom: 1px solid #369e59;
}

#button #register1 {
	text-decoration: none;
	color: #000;
	border: none;
	font-size: 30px;
}

#register1:hover {
	cursor: pointer;
}

#login1:hover {
	cursor: pointer;
}

form {
	width: 40%;
	margin: 0 auto;
}

form .input {
	margin-bottom: 30px;
}

form .input label {
	display: block;
	text-align: left;
}

form .input input {
	width: 100%;
	height: 40px;
}

form #submit {
	width: 100%;
	height: 40px;
	background-color: #369e59;
	color: #fff;
	border-radius: 10px;
	margin-bottom: 30px;
}

form p {
	text-align: left;
}

form div {
	text-align: left;
}

#no_user {
	display: none;
	color: red;
}

#email_login_error,
#password_login_error {
	color: red;
}

#create_account,
#forget_password {
	color: #369e59;
}

#login_success {
	display: none;
}

#login_success {
	padding: 20px;
	border: 1px solid #369e59;
	color: #369e59;
	width: fit-content;
	margin: 50px auto;
	border-radius: 10px;
}

#reset_password {
	cursor: pointer;
	outline: none;
	background-color: #369e59;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	border-radius: 10px;
	color: #fff;
}

#reset_password_email {
	display: block;
	margin: 10px auto;
	width: 70%;
	outline: none;
	text-align: center;
}
#forget_password {
	color: #369e59;
	cursor: pointer;
}
.reset_password_success_notice {
	color: #369e59;
	text-align: center;
	font-size: 20px;
}

@media (max-width: 991px) {
	form {
		width: 80%;
		margin: 0 auto;
	}
}

@media (max-width: 364px) {
	form {
		width: 90%;
		margin: 0 auto;
	}
}
