.main #article_title,
#author,
#content,
#like_num,
#read_num {
	width: fit-content;
	text-align: left;
	margin-right: 10px;
}

.wrapper .main #info_row {
	margin: 20px 0;
}

.wrapper .main #content {
	margin: 20px 0;
}

.main #info_row {
	text-align: left;
	display: flex;
	flex-direction: row;
}

.main #content_image {
	max-width: 100%;
}

#like_button {
	padding: 5px 10px;
	color: #369e59;
	background-color: #fff;
	border-radius: 10px;
}

#like_button:focus {
	outline: none;
}
#like_button:hover {
	cursor: pointer;
}
