#button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 50px;
}

#button #login {
	border: none;
	margin-right: 20px;
	font-size: 30px;
	text-decoration: none;
	color: #000;
}

#button #register {
	text-decoration: none;
	border: none;
	color: #369e59;
	font-size: 30px;
	border-bottom: 1px solid #369e59;
}

#login:hover {
	cursor: pointer;
}

#register:hover {
	cursor: pointer;
}

form {
	width: 40%;
	margin: 0 auto;
}

form .input {
	margin-bottom: 30px;
}

form .input label {
	display: block;
	text-align: left;
}

form .input input {
	width: 100%;
	height: 40px;
}

form #submit {
	width: 100%;
	height: 40px;
	background-color: #369e59;
	color: #fff;
}

form #submit:hover {
	cursor: pointer;
}

form #submit:focus {
	outline: none;
}

#form .input p {
	color: red;
}

#register_success {
	display: none;
}

#register_success {
	padding: 20px;
	border: 1px solid #369e59;
	color: #369e59;
	width: fit-content;
	margin: 50px auto;
	border-radius: 10px;
}
